<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Home</title>
		<%= stylesheet_link_tag"education"%>   
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	</head>

	<body>
			<div id="particles-js" >
				<div class="btext-edu">
					<div class="flex-container">
                        <ul>
                            <div class="card bg-transparent border border-success edu">
                                <div class="card-header bg-success"><h3>RCC INSTITUTE OF INFORMATION TECHNOLOGY</h3></div>
                                <div class="card-body">
                                    <h4>   
                                        <ul>
                                            <p class="body-size">2017 - 2021</p> 
                                        </ul>
                                        <ul>
                                            <p class="body-size">BACHELOR OF TECHNOLOGY</p>
                                        </ul>
                                        <ul>
                                            <p class="body-size">ELECTRONICS AND COMMUNICATIONS ENGINEERING</p>
                                        </ul>
                                    </h4>
                                </div>
                            </div>
                            <div class="card bg-transparent border border-success edu">
                                <div class="card-header bg-success"><h3>ELIAS MEYER F.S. & T.T.</h3></div>
                                <div class="card-body">
                                    <h4>   
                                        <ul>
                                            <p class="body-size">2016</p> 
                                        </ul>
                                        <ul>
                                            <p class="body-size">Indian School Certificate (XII)</p>
                                        </ul>
                                    </h4>
                                </div>
                            </div>        
                            <div class="card bg-transparent border border-success edu">
                                <div class="card-header bg-success"><h3>ELIAS MEYER F.S. & T.T.</h3></div>
                                <div class="card-body">
                                    <h4>   
                                        <ul>
                                            <p class="body-size">2014</p> 
                                        </ul>
                                        <ul>
                                            <p class="body-size">Council for the Indian School Certificate Examinations (X)</p>
                                        </ul>
                                    </h4>
                                </div>
                            </div>       
                        </ul>
					</div>
				</div>
			</div>
	</body>
</html>