<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Particles Webpage</title>
    <%= stylesheet_link_tag"projects"%>   

</head>
<body>
    <div id="particles-js">
            <header>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
				  <%= link_to "Home",root_path , class:"nav-link"%>
                </li>
                <li class="nav-item">
				  <%= link_to "Resume",resume_path , class:"nav-link"%>
                </li>
                <li class="nav-item">
				  <%= link_to "Projects",projects_path , class:"nav-link"%>
                </li>
              </ul>
            </div>
          </nav>
   </header>
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <script>
        particlesJS.load('particles-js', 'particles.json',
        function(){
            console.log('particles.json loaded...')
        })
    </script>
</body>
</html>