<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Resume/CV Design</title>
    <link rel="stylesheet" href="cust.css.scss">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <header>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Resume</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Projects</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>

<div class="resume">
   <div class="resume_left">
     <div class="resume_profile">
       <img src="" alt="profile_pic">
     </div>
     <div class="resume_content">
       <div class="resume_item resume_info">
         <div class="title">
           <p class="bold">Subhomoy Daw</p>
           <p class="regular">Student</p>
         </div>
         <ul>
           <li>
             <div class="icon-hr">
               <i class="fas fa-map-signs"></i>
             </div>
             <div class="data">
               Kolkata <br /> India
             </div>
           </li>

           <!-- <li>
             <div class="icon-hr">
               <i class="fas fa-mobile-alt"></i>
             </div>
             <div class="data">
               +324 4445678
             </div>
           </li> -->

           <li>
             <div class="icon-hr">
               <i class="fas fa-envelope"></i>
             </div>
             <div class="data">
               subhomoydaw.official@gmail.com
             </div>
           </li>

           <li>
             <div class="icon-hr">
               <i class="fab fa-weebly"></i>
             </div>
             <div class="data">
               www.SkyHighDevs.com
             </div>
           </li>
         </ul>
       </div>
       <div class="resume_item resume_skills">
         <div class="title">
           <p class="bold">skill's</p>
         </div>
         <ul>
           <li>
             <div class="skill_name">
               HTML
             </div>
             <div class="skill_progress">
               <span style="width: 80%;"></span>
             </div>
             <div class="skill_per">80%</div>
           </li>

           <li>
             <div class="skill_name">
               CSS
             </div>
             <div class="skill_progress">
               <span style="width: 70%;"></span>
             </div>
             <div class="skill_per">70%</div>
           </li>

           <li>
             <div class="skill_name">
               Ruby on Rails
             </div>
             <div class="skill_progress">
               <span style="width: 70%;"></span>
             </div>
             <div class="skill_per">70%</div>
           </li>

           <li>
             <div class="skill_name">
               IoT
             </div>
             <div class="skill_progress">
               <span style="width: 90%;"></span>
             </div>
             <div class="skill_per">90%</div>
           </li>

           <li>
             <div class="skill_name">
               Word Press
             </div>
             <div class="skill_progress">
               <span style="width: 85%;"></span>
             </div>
             <div class="skill_per">85%</div>
           </li>
           
           <li>
            <div class="skill_name">
              Java
            </div>
            <div class="skill_progress">
              <span style="width: 85%;"></span>
            </div>
            <div class="skill_per">85%</div>
          </li>

          <li>
            <div class="skill_name">
              Machine Learning using R
            </div>
            <div class="skill_progress">
              <span style="width: 35%;"></span>
            </div>
            <div class="skill_per">35%</div>
          </li>

          <li>
            <div class="skill_name">
              Android App Development
            </div>
            <div class="skill_progress">
              <span style="width: 15%;"></span>
            </div>
            <div class="skill_per">15%</div>
          </li>

         </ul>
       </div>
       <div class="resume_item resume_social">
         <div class="title">
           <p class="bold">Social</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fab fa-linkedin"></i>
             </div>
             <div class="data">
               <p class="semi-bold">LinkedIn</p>
               <p>www.linkedin.com/in/subhomoy-daw-570a30156</p>
             </div>
           </li>

           <li>
             <div class="icon-hr">
               <i class="fab fa-twitter-square"></i>
             </div>
             <div class="data">
               <p class="semi-bold">HackerRank</p>
               <p>@subhomoydaw_off1</p>
             </div>
           </li>

           <li>
             <div class="icon-hr">
               <i class="fab fa-github"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Github</p>
               <p>https://github.com/Subhomoy-Daw/</p>
             </div>
           </li>
         </ul>
       </div>
     </div>
  </div>
  <div class="resume_right">
    <div class="resume_item resume_about">
        <div class="title">
           <p class="bold">Introduction</p>
         </div>
        <p>Hello there,I am a Btech UG student
            who has always wanted to do
            something to help others. I am very
            interested in coding, photo editing,app
            developement. I am currently doing
            courses in Udacity,udemy,internshala,coursera
            that focuses on Artifficial
            Intelligence,Machine Learning and App
            Developement. I am currently looking for
            internships that could help me
            strengthen my skills.
            </p>
    </div>

    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">Work Experience</p>
         </div>
        <ul>
            <li>
                <div class="date">11/05/2020 - 27/7/2020</div> 
                <div class="info">
                     <p class="semi-bold">IIIT NAYA RAIPUR</p> 
                  <p>Developed an online platform that would help the farmers bring their products directly to the consumers 
                      without any involvement of third parties. Build an web app for the farmers to sell their products directly and
                      also for small sellers who would like to sell their products without having to pay any third party. The 
                      web app also includes price prediction ML models to help the sellers predict the prices of their products. 
                  </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">Achievements</p>
         </div>
        <ul>
            <li>
                <div class="date">2019</div> 
                <div class="info">
                     <p class="semi-bold">Bengalathon Group C Winner</p> 
                  <p>1. Developed an IoT based module to prevent accidents due to various
                    factors like drunk driving,low visibility,sleepiness and due to other
                    environmental factors.
                    2. Implementing Machine Learning to detect pot holes on road and use
                    those coordinates to show the condition of road on google map.</p>
                </div>
            </li>
            <li>
              <div class="date">2019</div>
              <div class="info">
                     <p class="semi-bold">INTERNSHALA DREAM BIG CHAMPIONSHIP 2019 (2ND RUNNER UP)</p> 
                  <p>1. Developed an IoT based module to make roads safe by reducing the
                    accidents caused by various factors like sleepiness, drunk
                    driving,excessive etc.
                    </p>
                </div>
            </li>
            <li>
              <div class="date">2018</div>
              <div class="info">
                     <p class="semi-bold">ARCHETYPE DE FUTURE 2018 WINNER</p> 
                  <p>1. Developed an IoT based module to make water safe for drinking on
                    basis of various parameters like high Ph,high turbidity and other soluble
                    impurities concentration.
                    2. Implementing Machine Learning to prevent wastage of water</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">Certificates</p>
         </div>
        <ul>
            <li>
                <div class="date">06.12.18</div> 
                <div class="info">
                     <p class="semi-bold">Android App Developement , Internshala</p> 
                </div>
            </li>
            <li>
              <div class="date">09.02.2020</div>
              <div class="info">
                     <p class="semi-bold">Machine Learning A-Z and : Hands On Python & R In Data
                        Science,Udemy</p> 
                </div>
            </li>
            <li>
              <div class="date">09.02.2020</div>
              <div class="info">
                     <p class="semi-bold">Artificial Intelligence A-Z and : Learn How To Build An AI,
                        Udemy</p> 
                </div>
            </li>
        </ul>
    </div>

    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">Publications</p>
         </div>
        <ul>
            <li>
                <div class="date">2019</div> 
                <div class="info">
                  <p>S. DAW, S. SIL, AND A. DEYASI, "SMART INTELLIGENT SYSTEM DESIGN FOR ACCIDENT
                    PREVENTION AND THEFT PROTECTION OF VEHICLE", ACCEPTED IN 5TH INTERNATIONAL
                    CONFERENCE ON NANOELECTRONICS, CIRCUITS & COMMUNICATION SYSTEMS,
                    2019 [WILL BE AVAILABLE IN SPRINGER: LECTURE NOTES IN ELECTRICAL ENGINEERING.
                    IETE ZONAL SEMINAR AND ISF CONGRESS 2019. PAPER PRESENTATION (THIRD POSITION).</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="resume_item resume_education">
      <div class="title">
           <p class="bold">Education</p>
         </div>
      <ul>
            <li>
                <div class="date">2017 - 2021</div> 
                <div class="info">
                     <p class="semi-bold">Bachelor Of Technology(ECE)</p> 
                  <p>RCC Institute Of Information Technology</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="resume_item resume_hobby">
      <div class="title">
           <p class="bold">Hobby</p>
         </div>
       <ul>
         <li><i class="fas fa-book"></i></li>
         <li><i class="fas fa-gamepad"></i></li>
         <li><i class="fas fa-music"></i></li>
         <li><i class="fab fa-pagelines"></i></li>
      </ul>
    </div>
  </div>
</div>

</body>
</html>