<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Particles Webpage</title>
        <%= stylesheet_link_tag"skill_sets"%>   
    </head>
    <body>
        <div class="container-fluid">
        	<div class="style-me" id="particles-js"></div>
            <div class="row">
                <div class="col-md-12">
                        <div class="card bg-transparent">
                            <div class="card-header bg-transparent text-center"><h5>HTML</h5></div>
                            <div class="card-body">
                                <div class= "progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="card bg-transparent">
                            <div class="card-header bg-transparent text-center"><h5>CSS</h5></div>
                            <div class="card-body">
                                <div class= "progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>

                        <div class="card bg-transparent">
                            <div class="card-header bg-transparent text-center"><h5>Ruby on Rails</h5></div>
                            <div class="card-body">
                                <div class= "progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>

                        <div class="card bg-transparent">
                            <div class="card-header bg-transparent text-center"><h5>IoT</h5></div>
                            <div class="card-body">
                                <div class= "progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>

                        <div class="card bg-transparent">
                            <div class="card-header bg-transparent text-center"><h5>Word Press</h5></div>
                            <div class="card-body">
                                <div class= "progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </body>
</html>