  .card
  {
    margin-bottom: 4%;
  }
  .card-body
  {
    text-align: left;
    font-family: Tahoma, Geneva, sans-serif;
   
  }
  .card-header
  {
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bolder;
  }
  .body-size
  {
    font-size: .95em;
  }

body{
  background: #c94b4b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.container-fluid .row
{
  margin-top: -1%;
  margin-left:-2%;
}
