@import 'bootstrap/dist/css/bootstrap';
body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

img {
    max-width:50%;
    height:auto;
}

.profile
{
    width : 250px;
    height:250px;
    margin-bottom: 2%;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
.img :hover{
    opacity: 0.3;
  }
  
.middle:hover {
    opacity: 1;
  }
  
  .text-pro {
    background-color: #1213129d;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  
@media (min-width: 576px) {   
  .container-fluid .row
 {
     padding: 2%;
     margin-left: 0%;
     margin-top:5%;
 }
}


@media (min-width: 768px) {   
 .container-fluid .row
{
    padding: 2%;
    margin-left: 0%;
    margin-top:5%;
}
}


@media (min-width: 992px) {   
 .container-fluid .row
{
    
    margin-left: 2%;
    margin-top:5%;
}
}


@media (min-width: 1200px) {   
 .container-fluid .row
{
    margin-left: 0%;
    margin-top:5%;
}
}
@media (min-width: 1900px) {   
 .container-fluid .row
{
    margin-left: -0.5%;
}
}

@media (min-width: 2500px) {   
 .container-fluid .row
{
  margin-left: -0.5%;
}
}

.style-me
{
  position: absolute;
  top :0%;
  left : 0%;
  width: 100%;
  height:100vh;
}

