.btext{
    color: #f9f3f4;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
    line-height: 0.4em;
}

.progress
{
    background-color: rgba(0, 0, 0, 0.514);
}

.space
{
    margin-top: 2%;
}