	<body>
			<div id="particles-js" >
				<div class="list-group">
					<div class="btext-res">
                        <ul>
                            <div class="card bg-transparent border border-success edu">
                                <div class="card-header bg-success"><h3>WORK EXPERIENCE</h3></div>
                                <div class="card-body">
                                        <ul>
                                            <p class="body-size">11/05/2020 - 27/7/2020</p> 
                                        </ul>
                                        <ul>
                                            <p class="body-size">IIIT NAYA RAIPUR</p>
                                        </ul>
                                        <ul>
                                            <p class="body-size">Developed an online platform that would help the farmers bring their products directly to the consumers without any involvement of third parties. Build an web app for the farmers to sell their products directly and also for small sellers who would like to sell their products without having to pay any third party. The web app also includes price prediction ML models to help the sellers predict the prices of their products.</p>
                                        </ul>
                                </div>
                            </div>
                            <div class="card bg-transparent border border-success edu">
                                <div class="card-header bg-success"><h3>ACHIEVEMENTS</h3></div>
                                <div class="card-body">
                                        <ul>
                                            <h4 class="body-size" style="font-weight :bold;">2019</h4> 
                                        </ul>
                                        <ul>
                                            <h4 class="body-size" style="font-weight :400;">Bengalathon Group C Winner </h4>
                                        </ul>
                                        <ul>
                                            <p class="body-size">Developed an IoT based module to prevent accidents due to various factors like drunk driving,low visibility,sleepiness and due to other environmental factors.Implementing Machine Learning to detect pot holes on road and use those coordinates to show the condition of road on google map.</p>
                                        </ul>

                                         <ul>
                                            <h4 class="body-size" style="font-weight :bold;">2019</h4> 
                                        </ul>
                                        <ul>
                                            <h4 class="body-size" style="font-weight :400;">INTERNSHALA DREAM BIG CHAMPIONSHIP 2019 (2ND RUNNER UP)</h4>
                                        </ul>
                                        <ul>
                                            <p class="body-size">Developed an IoT based module to make roads safe by reducing the accidents caused by various factors like sleepiness, drunk driving,excessive etc.</p>
                                        </ul>

                                        <ul>
                                            <h4 class="body-size" style="font-weight :bold;">2018</h4> 
                                        </ul>
                                        <ul>
                                            <h4 class="body-size" style="font-weight :400;">ARCHETYPE DE FUTURE 2018 WINNER</h4>
                                        </ul>
                                        <ul>
                                            <p class="body-size"> Developed an IoT based module to make water safe for drinking on basis of various parameters like high Ph,high turbidity and other soluble impurities concentration. 2. Implementing Machine Learning to prevent wastage of water.</p>
                                        </ul>
                                </div>
                            </div>        
                            <div class="card bg-transparent border border-success edu">
                                <div class="card-header bg-success"><h3>PUBLICATIONS</h3></div>
                                <div class="card-body">
                                        <ul>
                                            <p class="body-size" style="font-weight :bold;">2019</p> 
                                        </ul>
                                        <ul>
                                            <p class="body-size">S. DAW, S. SIL, AND A. DEYASI, "SMART INTELLIGENT SYSTEM DESIGN FOR ACCIDENT PREVENTION AND THEFT PROTECTION OF VEHICLE", ACCEPTED IN 5TH INTERNATIONAL CONFERENCE ON NANOELECTRONICS, CIRCUITS & COMMUNICATION SYSTEMS, 2019 [WILL BE AVAILABLE IN SPRINGER: LECTURE NOTES IN ELECTRICAL ENGINEERING. IETE ZONAL SEMINAR AND ISF CONGRESS 2019. PAPER PRESENTATION (THIRD POSITION).</p>
                                        </ul>
                                </div>
                            </div>       
                        </ul>
					</div>
				</div>
			</div>
	</body>
